.logout{
  display: flex;
  margin-top: 36%;
  padding: 0;
  margin-left: 25px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  

    /* background-color: red; */
}

a{
    text-decoration: none;
    color: #17253F;
}