.box {
  display: flex;
  height: 100vh;
  background-color: #e5e5e5;
  justify-content: center;
  align-items: center;
}
.card {
  height: 90%;
  max-width: 65rem;
  width: 100%;
  margin-left: 210px;
  margin-right: 210px;
  background-color: white;
  padding: 10px;
}
.container-header {
  display: flex;
  justify-content: space-between;
}
.imagem-header {
  width: 150px;
  height: 50px;
}
.container-body {
  margin-top: 30px;
  flex: 1;
  display: flex;
  align-self: stretch;
  margin-bottom: 80px;
  margin-right: 20px;
  margin-left: 20px;
}
.colOne {
  align-items: stretch;
  width: 40%;
  margin-right: 40px;
  border-radius: 15px;
  background-color: #6ba0ff;
  justify-content: center;
  align-items: center;
}
.colTwo {
  align-items: stretch;
  width: 60%;
  border-radius: 15px;
  background-color: #e16f1c;
}
.titleColOne {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}
.containerInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 70px;
  margin-left: 30px;
  border-radius: 10px;
  margin-top: 20px;
}
.teste2 {
  background-color: red;
  border-radius: 10px;
}
.input-data {
  border-radius: 5px;
}
.legendOfData {
  font-weight: bold;
  margin-top: 10px;
}
.container-buttons {
  display: flex;
  justify-content: space-between;
}
.style-button {
  width: 24%;
}
.type-energy {
  font-weight: bold;
  margin-top: 10px;
}
.button-type-energy {
  margin-right: 3px;
}
